html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.login-box {
  width: 450px;
  margin: 100px auto;
  opacity: 0.95;
  border-radius: 5px;
}

.logo-60 {
  width: 60px;
}

.logo-40 {
  width: 40px;
}

.login-header {
  font-size: medium;
  font-weight: bold;
}

.padding-bot-0 {
  padding-bottom: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

#root {
  height: 100%;
}

.home {
  height: 100%;
  background-color: aliceblue;
  opacity: 0.95;
}